
sample_project.xcodeproj/project.xcworkspace/xcuserdata/KonradWinkowski.xcuserdatad/UserInterfaceState.xcuserstate

sample_project.xcworkspace/xcuserdata/KonradWinkowski.xcuserdatad/UserInterfaceState.xcuserstate
